<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity_Picker_Page</title>
</head>
<style>
    body {
        text-align: center;
    }
    h1 {
        font-size: 50px;
    }
    button {
        font-size: 50px;
        width: 500px;
        height: 100px;
    }
</style>
<body>
    <h1>{{ action }}</h1>
    <a href="/get">
        <button>Start</button>
    </a>
    <br>
    <h1>你抽到的是: {{ h }}</h1>
</body>
</html>